
.idea/deployment.xml
.idea/misc.xml
.idea/modules.xml
.idea/TFTP_Server.iml
.idea/vcs.xml
.idea/workspace.xml
cmake-build-debug/cmake_install.cmake
cmake-build-debug/CMakeCache.txt
cmake-build-debug/CMakeFiles/3.10.2/CMakeCCompiler.cmake
cmake-build-debug/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.10.2/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.10.2/CompilerIdC/a.out
cmake-build-debug/CMakeFiles/3.10.2/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/clion-environment.txt
cmake-build-debug/CMakeFiles/clion-log.txt
cmake-build-debug/CMakeFiles/cmake.check_cache
cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-debug/CMakeFiles/CMakeOutput.log
cmake-build-debug/CMakeFiles/feature_tests.bin
cmake-build-debug/CMakeFiles/feature_tests.c
cmake-build-debug/CMakeFiles/Makefile.cmake
cmake-build-debug/CMakeFiles/Makefile2
cmake-build-debug/CMakeFiles/progress.marks
cmake-build-debug/CMakeFiles/TargetDirectories.txt
cmake-build-debug/CMakeFiles/TFTP_Server.dir/build.make
cmake-build-debug/CMakeFiles/TFTP_Server.dir/cmake_clean.cmake
cmake-build-debug/CMakeFiles/TFTP_Server.dir/depend.make
cmake-build-debug/CMakeFiles/TFTP_Server.dir/DependInfo.cmake
cmake-build-debug/CMakeFiles/TFTP_Server.dir/flags.make
cmake-build-debug/CMakeFiles/TFTP_Server.dir/link.txt
cmake-build-debug/CMakeFiles/TFTP_Server.dir/progress.make
cmake-build-debug/Makefile
cmake-build-debug/TFTP_Server.cbp
CMakeLists.txt
.idea/.name
cmake-build-debug/CMakeFiles/TFTP_Server.dir/C.includecache
cmake-build-debug/CMakeFiles/TFTP_Server.dir/depend.internal
cmake-build-debug/CMakeFiles/TFTP_Server.dir/main.c.o
cmake-build-debug/TFTP_Server
serv
